* {
  margin: 0;
  padding: 0;
}
body {
  background: url(../static/claudio-schwarz-r1ackBZKmRg-unsplash.jpg);
  background-size: cover;
  color: white;
}

h1 {
margin-bottom: 20px;
}

th {
width: 100px
}
table {
text-align: left;
border
}

th, td {
border-bottom: 2px solid white;
border-left: 2px solid white;
}

