<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/style.css">
    <title>Student ages</title>
</head>
<body>
<h1>Student ages</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr></tr>
    {% for key in student_ages %}
    <tr>
        <th>{{key}}</th>
        <th>{{student_ages[key]}}</th>
    </tr>
    {% endfor %}
</table>
</body>
</html>